.hero-container {
    display: grid;
    place-items: center;
    min-height: 80vh;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0 10vw;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 80px;
}

.main-text {
    font-size: 25px;
    margin-bottom: 80px;
    background-image: linear-gradient(to right, #ffffff, #ff5500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
}

.main-text span {
    font-size: 58px;
    font-weight: 600;
}

.start-btn {
    position: relative;
    width: 180px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    display: grid;
    place-items: center;
    color: white;
    background-image: url('/btn.png');
}

.start-btn img {
    position: absolute;
}

.btn-img {
    top: 0;
    left: 0;
}

.start-btn .left {
    bottom: 0;
    left: 0;
}

.start-btn .right {
    transform: rotate(180deg);
    right: 0;
    top: 0;
}

.start-btn:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.16);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.figure {
    position: absolute;
    top: 62vh;
    left: 25vw;
    width: 25vw;
    height: 50px;
}

@media screen and (max-width: 767px) {
    .figure {
        display: none;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        text-align: center;
    }

    .main-text span {
        font-size: 40px;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 150px;
    }
}